/* Reset / normalize */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

/* Layout */
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    padding: 1rem;
}

aside {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

/* Basic elements */
a {
    color: #1da1f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    background-color: #f5f5f5;
    padding: 1rem;
}
